{ parameters: { database_driver: pdo_mysql, database_host: 127.0.0.1, database_port: '3306', database_name: symfony, database_user: root, database_password: null, mailer_transport: gmail, mailer_host: smtp.gmail.com, mailer_user: null@gmail.com, mailer_password: null, locale: en, secret: 2862c0f19e5a5ee7f91a1a40aa02109f5, debug_toolbar: true, debug_redirects: false, use_assetic_controller: true, database_path: null } }